language: node_js
node_js:
  - '0.10'
  - '0.11'
before_script:
  - npm install -g bower grunt-cli
  - bower install
services: mongodb
notifications:
  slack: hr22-23:cj7Wc706h8pEu4BGApvLCuJc
after_success:
  - grunt build
  - grunt buildcontrol:heroku