<div ng-include="'components/navbar/navbar.html'"></div>

<div style='text-align: center;'>
  <input type='radio' ng-model='hasAllSkills' ng-value='true'>has all skills</input>
  <input type='radio' ng-model='hasAllSkills' ng-value='false'>has at least one of the following skills</input>
  <br>
  search by skills (comma seperated list)
  <input type='text' ng-model='skills' ng-list></input>
  <button ng-click='fetchUsers()'>search</button>
<div>
<div ng-repeat='user in users'>
   {{ user.name }}
</div>


